{"train_data_path": null, "val_data_path": null, "test_data_path": null, "plm": "bertweet", "log_dir": "./train_log\\r_05_10_01_23_19-0", "max_seq_length": 128, "gpu_ids": "0", "seed": 2023, "finetune_type": "all", "loss_fun": "weight_bce", "pos_weight": "30,15,6,6,2,40,25,3,3,3,1.5,1.5", "weight_scale": 0.4, "lr_plm": 1e-05, "lr_other": 0.001, "wd_plm": 0.01, "wd_other": 0.0005, "warmup": false, "warm_ratio": 0.06, "dropout": 0.1, "num_epoch": 15, "batch_size": 32}